*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
/* Navbar styling */
a{
  text-decoration: none;
}
li{
  list-style: none;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.logo{
  font-size: 32px;
}
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li {
  padding: 5px 14px;
}
input[type=checkbox]{
  display: none;
} 
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
@media (max-width: 768px) {
  .menu { 
    display:none;
    position: absolute;
    background-color:#fff;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color:#fff;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu{
    display: block;
  }
  .hamburger {
    display: block;
  }
}
/* End of navbar */

/* Start of the footer */
footer{
  position:absolute;
  bottom:0;
  width:100%;
  height: 414px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer ul{
  padding: 50px 20px;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #555;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer ul li h2{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}
footer ul li ul{
  list-style: none;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
footer ul li ul li {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  margin-bottom: 20px;
}
.bottom-ricca{
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;
  font: "Quicksand";
  text-align: center;

}
@media (max-width: 880px) {
	footer ul{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	footer {
		margin-left: 0;
	}

}